/* Font  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables  */
:root {
  --main-bg-color: #f5f5f5;
  --app-bg-color: #0a155c;
  --todo-bg-color: #a9e5bb;
  --color-primary-1: #d103fc;
  --textColor-1: #111111;
  --clr-primary-2: hsl(205, 100%, 96%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1.5rem;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  color: var(--clr-primary-2);
  overflow: visible;
}

h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary); */
}

h1 {
  font-size: 1.5rem;
}

#container {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: var(--app-bg-color);
  border-radius: var(--radius);
  width: 50vw;
  margin: 0 auto;
  /* width: 50vw;
  margin-top: 6rem;
  height: auto;  */
}
#heading {
  /* border: 1px solid yellow; */
  margin: 2rem 0 2rem;
  text-align: center;
  padding: 2rem;
}
#form-center {
  display: flex;
  justify-content: center;
}
input[type="text"] {
  background-color: transparent;
  /* border-style: none; */
  border-top-style: none;
  border-left-style: none;
  border-right-style: none; /* border: none; */
  border-color: var(--color-primary-1);
  /* outline: none; */
  padding: 5px;
  margin-right: 40px;
  width: 70%;
  font-size: 1.5rem;
}
input:focus {
  outline: none;
  color: #f5f5f5;
}
#submit-btn {
  background: var(--color-primary-1);
  border: none;
  border-radius: 0.4rem;
  padding: 0.7rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: background 2s linear;
}
#submit-btn:hover {
  background: red;
}
/* Todo list */
#todos {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list {
  background: var(--todo-bg-color);
  border-radius: 10px;
  color: var(--textColor-1);
  width: 100%;
  height: auto;
  margin: 20px;
}

.todo-item {
  position: relative;
  /* display: flex; */
}

.todo-date {
  /* font-size: 1rem; */
  background-color: var(--color-primary-1);
  display: inline-flex;
  position: relative;
  /* top: 20px; */
  padding: 1rem;
  margin-right: 1rem;
  color: #f5f5f5;
  /* top: 1px;
  right: 1 px; */
}
.todo-icons {
  position: absolute;
  bottom: 3px;
  left: 75px;
  /* right: 0px; */
}
.editIcon,
.trashIcon,
.completeIcon {
  /* text-align: center; */
  /* margin-top: 20px; */
  margin-right: 20px;
}
.task {
  display: inline;
}
