/* Font  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables  */
:root {
  --main-bg-color: #f5f5f5;
  --app-bg-color: #0a155c;
  --todo-bg-color: #a9e5bb;
  --color-primary-1: #d103fc;
  --textColor-1: #111111;
  --clr-primary-2: hsl(205, 100%, 96%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  color: var(--clr-primary-2);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2.5rem;
}

/* global ids */
#app-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--app-bg-color);
  border-radius: var(--radius);
  width: 50vw;
  height: 80vh;
}
#app-heading {
  padding: 2rem;
  text-align: center;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
}
#form-container {
  position: fixed;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#inputTodo {
  margin-top: 2rem;
}
input[type="text"] {
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-primary-1);
  color: #fff;
  font-size: 1.3rem;
  padding: 10px 0;
}
#submit-btn {
  background: var(--color-primary-1);
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #f5f5f5;
}
/* Todo list */
#todos {
  margin-top: 2rem;
}
.todo-list {
  background: var(--todo-bg-color);
  color: var(--textColor-1);
  font-size: 1.3rem;
  padding: 0.5rem;
  height: 4rem;
  margin-bottom: 0.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
